/* 4️⃣ 📜🎨 დავალება 4: შექმენი სამი აბზაცი, რომელთა სტილი იქნება შემდეგნაირი: პირველი - ზრდილი ზომა და მუქი ტექსტი, მეორე - მაღალი ზომა და მსუბუქი ტექსტი, მესამე - ცენტრირებული ტექსტი. */

h1{
    font-size: 400%;
    font-weight: bold;
}

h2{
    font-size: 150%;
    font-weight: lighter;
}

mark{
    text-align: center;
}