* {
    font-family: sans-serif;
}

body {
    color: green;
    text-align: center;
    background-color: black;
}

div {
    display: flex;
}

h1 {
    font-size: 500%;
}

a {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}
img{
    width: 200px;
}
p{
    font-size: 200%;
}